<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.dm.DmMapper">
    <insert id="insDm" useGeneratedKeys="true" keyProperty="idm">
        insert into t_dm
        set last_msg= null
    </insert>
    <insert id="insDmUser">
        insert into t_dm_user
        set idm= #{idm},
        iuser= #{iuser}
    </insert>
    <insert id="insDmMsg">
        <selectKey resultType="int" keyProperty="seq" order="BEFORE">
            select ifnull(max(seq),0)+1
            from t_dm_msg
            where idm= #{idm}
        </selectKey>
        insert into t_dm_msg set
        idm= #{idm}, seq= #{seq}, iuser= #{loginedIuser},
        msg= #{msg}
    </insert>
    <select id="selDmMsgAll"> <!-- 아래 버튼 채팅방 입장시 입력된 메세지 -->
        SELECT
        A.seq, A.msg, A.created_at AS createdAt <!--채팅 순서(채팅 PK) 글삭제시 필요 / 내용 / 작성시간 -->
        , B.iuser AS writerIuser, B.pic AS writerPic <!-- 작성자PK / 작성자 프로필사진-->
        FROM t_dm_msg A <!-- 순서, 내용, 언제적었는지 나타내기 위해서 -->
        INNER JOIN t_user B <!-- 누가 쓴 글인지 나타내기 위해 조인-->
        ON A.iuser = B.iuser
        WHERE A.idm = #{idm}
        ORDER BY A.seq DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <select id="selDmAll"> <!-- 우측상단 채팅 버튼 나의 채팅방 리스트 띄워주는거 -->
        SELECT
           A.idm,
           A.last_msg AS lastMsg,
           A.last_msg_at AS lastMsgAt,
           D.nm AS otherPersonNm,
           D.pic AS otherPersonPic
        FROM t_dm A
        INNER JOIN t_dm_user B
        ON A.idm = B.idm
        INNER JOIN t_dm_user C
        ON B.idm = C.idm
        INNER JOIN t_user D
        ON C.iuser = D.iuser
        WHERE B.iuser = #{loginedIuser} <!--채팅방 DM에 있는지-->
        AND C.iuser != #{loginedIuser} <!-- 해당 로그인 유저를 제외하고 나타냄-->
        ORDER BY A.last_msg_at DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <delete id="delDmMsg">
        delete
        from t_dm_msg
        where idm= #{idm}
        and seq= #{seq}
        and iuser= #{iuser}
    </delete>
</mapper>