<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="ifeed">
        INSERT INTO
        t_feed
        SET
            iuser= #{iuser},
            contents= #{contents},
            location= #{location}
    </insert>
    <select id="selFeedAll">
        SELECT
            A.ifeed,
            A.contents,
            A.location,
            A.created_at as createdAt,
            A.iuser as writerIuser,
            B.nm as writerNm,
            B.pic as writerPic,
            IF(C.iuser IS NULL, 0, 1) AS isFav
        FROM t_feed A
        JOIN t_user B
        ON A.iuser= B.iuser
        <choose>
            <when test="isFavList==1">
                JOIN t_feed_fav C
            </when>
            <otherwise>
                LEFT JOIN t_feed_fav C
            </otherwise>
        </choose>
        ON A.ifeed= C.ifeed
        AND C.iuser= #{loginedIuser}
        <if test="isFavList==0 and targetIuser>0">
            WHERE A.iuser= #{targetIuser}
        </if>
        ORDER BY A.ifeed DESC
        LIMIT #{startIdx}, #{rowCount}
        <!--<if test="isFavList==1">
               where c.iuser is not null
            </if>
            <if test="isFavList==0 and targetIuser>0">
               where a.iuser= #{targetIuser}
            </if>-->
    </select>
    <select id="selFeed">
        SELECT
        ifeed
        FROM t_feed
        WHERE ifeed= #{ifeed}
        AND iuser= #{iuser}
    </select>
    <delete id="delFeed">
        DELETE FROM
        t_feed
        WHERE ifeed= #{ifeed}
        AND iuser= #{iuser}
    </delete>
</mapper>