<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedCommentMapper">
    <insert id="insComment" useGeneratedKeys="true" keyProperty="ifeedComment">
        INSERT INTO
        t_feed_comment
        SET
            ifeed= #{ifeed},
            iuser= #{iuser},
            comment= #{comment}
    </insert>
    <select id="selCommentAll">
        SELECT
            A.ifeed_comment AS ifeedComment,
            A.comment,
            A.created_at AS createdAt,
            A.iuser AS writerIuser,
            B.nm AS writerNm,
            B.pic AS writerPic
        FROM t_feed_comment A
        JOIN t_user B
        ON A.iuser= B.iuser
        WHERE A.ifeed= #{ifeed}
        ORDER BY A.ifeed_comment
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <delete id="delCommentByIfeed">
        DELETE FROM
        t_feed_comment
        WHERE ifeed= #{ifeed}
    </delete>
</mapper>