<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedCommentMapper">
    <insert id="insComment" useGeneratedKeys="true" keyProperty="ifeedComment">
        insert into t_feed_comment set
        ifeed= #{ifeed}, iuser= #{iuser}, comment= #{comment}
    </insert>
    <select id="selCommentAll">
        select a.ifeed_comment as ifeedComment, a.comment, a.created_at as createdAt,
        a.iuser as writerIuser, b.nm as writerNm, b.pic as writerPic
        from t_feed_comment a
        join t_user b on a.iuser= b.iuser
        where a.ifeed= #{ifeed}
        order by a.ifeed_comment
        limit #{startIdx}, #{rowCount}
    </select>
    <delete id="delCommentByIfeed">
        delete from t_feed_comment
        where ifeed= #{ifeed}
    </delete>
</mapper>