<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="ifeed">
        insert into t_feed set
        iuser= #{iuser}, contents= #{contents},
        location= #{location}
    </insert>
    <select id="selFeedAll">
        select a.ifeed, a.contents, a.location,
        a.created_at as createdAt, a.iuser as writerIuser,
        b.nm as writerNm, b.pic as writerPic,
        if(c.iuser is null, 0, 1) as isFav
        from t_feed a
        join t_user b on a.iuser= b.iuser
        <choose>
            <when test="isFavList==1">
                inner join t_feed_fav c
            </when>
            <otherwise>
                left join t_feed_fav c
            </otherwise>
        </choose>
        on a.ifeed= c.ifeed
        and c.iuser= #{loginedIuser}
        <if test="isFavList==0 and targetIuser>0">
            where a.iuser= #{targetIuser}
        </if>
        order by a.ifeed desc
        limit #{startIdx}, #{rowCount}
        <!--<if test="isFavList==1">
               where c.iuser is not null
            </if>
            <if test="isFavList==0 and targetIuser>0">
               where a.iuser= #{targetIuser}
            </if>-->
    </select>

    <select id="selFeed">
        select ifeed from t_feed
        where ifeed= #{ifeed} and iuser= #{iuser}
    </select>
    <delete id="delFeed">
        delete from t_feed
        where ifeed= #{ifeed} and iuser= #{iuser}
    </delete>
</mapper>